.img-blog {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
    max-height: 550px;
}

.post a {
    word-break: break-word;
}

.post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #767676;
    font-size: 12px;
}

.page-title, .post-title, .post-title a {
    color: #303030;
}

.centralizarImagem { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-blog{
    max-width: 40rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}